<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<hr />

<div class="new-product">
  <p class="product-name"></p>
  <p class="product-price"></p>
  <p class="product-description"></p>
  <p class="product-inventory"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('form').on('submit', function(ev){
      // hijack submit button and prevent default behavior
      ev.preventDefault();
      // 'this' in this context refers to the form element
      // serialize all form fields and their values
      let values = $(this).serialize();
      // store the response of a POST to '/products'
      let posting = $.post('/products', values);

      posting.success(function(data){
        let product = data.product;
        $('.product-name').text('Product Name: ' + product.name);
        $('.product-price').text('Price: $' + product.price);
        $('.product-description').text('Description: ' + product.description);
        $('.product-inventory').text('Inventory: ' + product.inventory);
      });
    });
  });
</script>
