<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>


<div id="productResult">
  <h2 id="productName"></h2>
    <h2 id="productPrice"></h2>
    <p id="productDescription"></p>
    <p id="productInventory"></p>
</div>


<script type="text/javascript" charset="utf-8">

  $(function() {
    // debugger;
    $('form').submit(function(event) {

      // debugger;


      event.preventDefault();



      var values = $(this).serialize();

      var posting = $.post("/products", values);
      // var posting = $.ajax({
      //   url: "/products",
      //   method: "POST"
      //   name:
      // })
      // debugger;

      posting.done(function(data) {

        // debugger;

        // var product = data;

        // debugger
        $("#productName").text(data["product"]["name"]);
        $("#productPrice").text("$" + data["product"]["price"]);
        $("#productDescription").text(data["product"]["description"]);
        $("#productInventory").text(data["product"]["inventory"]);

      })

    })

  })


</script>
