<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div>
  <h3 id="productName"></h3>
  <p id="productPrice"></p>
  <p id="productDescription"></p>
  <p id="productInventory"></p>
</div>


<script type="text/javascript">
  $("form").submit(function(e) {
    e.preventDefault();
    var product_params = $(this).serialize();
    $.post('/products/', product_params).done(function(data) {
      var product = data["product"];
      $('#productName').text(product.name);
      $('#productPrice').text(`$${product.price}`);
      $('#productDescription').text(product.description);
      $('#productInventory').text(product.inventory);
    })
  })
</script>
